.error-found-input {
    box-shadow: 0px 0px 16px 4px rgba(218, 167, 66, 0.75);
    -webkit-box-shadow: 0px 0px 16px 4px rgba(218, 167, 66, 0.75);
    -moz-box-shadow: 0px 0px 16px 4px rgba(218, 167, 66, 0.75);
    background-color: #ecf2f4;
    border-radius: 5px;
    height: 1.6rem;
    font-size: 14px;
    padding-inline: 10px;
    position: relative;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    margin-inline: 3px;
}

.error-found-input input {
    border: none;
    background: none;
    display: inline-block;
    margin: 0;
    width: 2ch;
    box-shadow: none;
}

.error-found-input:has(input:focus) .editor-console,
.error-found-input .editor-console:focus {
    display: block;
}

.error-found-input .editor-console {
    display: none;
    position: absolute;
    top: -110%;
    left: 0;
}

.error-found-input .editor-console ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin: 0;
    background-color: white;
    border: 2px solid rgb(138, 138, 138);
}

.error-found-input .editor-console ul li {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 3px;
}

.error-found-input .editor-console ul li button {
    background: none;
    border: none;
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
    padding: 0;
}

.error-found-input .editor-console ul li button:hover {
    background-color: #bcbcbc;
}

.error-found-input .editor-console ul li button img {
    height: 1rem;
    width: 1rem;
    object-fit: contain;
}