.error-found-input:not(.element) {
    box-shadow: 0px 0px 16px 4px rgba(145, 44, 28, 0.75);
    -webkit-box-shadow: 0px 0px 16px 4px rgba(145, 44, 28, 0.75);
    -moz-box-shadow: 0px 0px 16px 4px rgba(145, 44, 28, 0.75);
    background-color: #ecf2f4;
    border-radius: 5px;
    height: 1.6rem;
    font-size: 14px;
    padding: 0;
    position: relative;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    margin-inline: 3px;
}

.error-found-input input {
    border: none;
    background: none;
    display: inline-block;
    margin: 0;
    min-width: 4ch;
    box-shadow: none;
    padding-block: 0;
    padding-inline: 7px;
    margin: 0;
    height: 100%;
}

.error-found-input:has(input.display) .editor-console,
.editor-console:has(button:focus),
.editor-console.display,
.editor-console:hover,
.error-found-input.element:hover .editor-console {
    display: block !important;
}

.editor-console:hover {
    background-color: blue;
}

.error-found-input .editor-console {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: 0;
}

.error-found-input.element .editor-console {
    top: -1.8rem;
    z-index: 999;
    bottom: auto;
}

.error-found-input .editor-console.right {
    left: auto;
    right: 0;
}

.error-found-input .editor-console ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
    background-color: white;
    border: 1px solid rgb(138, 138, 138);
    list-style-type: none;
    padding-left: 10px;
    border-radius: 3px;
}

.error-found-input .editor-console ul li {
    border-radius: 3px;
}

.error-found-input .editor-console ul li:has(#ec-delete) {
    background-color: black;
}

.error-found-input .editor-console ul li:has(#ec-delete)::after {
    content: "";
    height: 100%;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    top: 0;
    left: -5px;
    z-index: 2;
}

.error-found-input .editor-console ul li:has(#ec-delete)::before {
    content: "";
    height: 100%;
    width: 5px;
    background-color: black;
    top: 0;
    left: -5px;
    z-index: 1;
}

.error-found-input .editor-console ul li button {
    background: none;
    border: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 3px;
    padding: 3px;
}

.error-found-input .editor-console ul li:has(#ec-delete) button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.error-found-input .editor-console ul li button:hover {
    background-color: #bcbcbc;
}

.error-found-input .editor-console ul li button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bold, .bold input {
    font-weight: 700;
}

.highlight, .highlight input {
    background-color: rgb(255, 255, 114) !important;
}

.italic,.italic input  {
    font-style: italic;
}

.strikethrough, .strikethrough input {
    text-decoration: line-through;
}

p:has(img.highlight) {
    background-color: rgb(255, 255, 114) !important;
}

.error-found-input.element {
    border: dashed 2px rgba(145, 44, 28, 0.75);
    background-color: transparent;
    transition: all 200ms ease-in-out;
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.error-found-input.element.strikethrough {
    text-decoration: none;
    border: none;
}

.error-found-input.element.strikethrough > *:not(.editor-console) {
    opacity: .5;
}

.error-found-input.element.strikethrough::after {
    background-image: url('https://github.com/Wischok/canvas-accessibility-extension/blob/main/assets/images/trash-white.png?raw=true');
    background-position: center;
    background-size: contain;
    content: "";
    width: 2rem;
    height: 100%;
    max-height: 2rem;
    background-color: rgba(145, 44, 28, 0.75);
    position: absolute;
    top: 0;
    left: 0;
}

.error-found-input.element.strikethrough::before {
    content: " ";
    width: 10px;
    height: 100%;
    max-height: 2rem;
    background-color: rgba(145, 44, 28, 0.75);
    position: absolute;
    top: 0;
    right: 0;
}

.error-found-input.element:hover {
    background-color: rgb(173, 191, 213);
}