p:hover,h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover { 
    background-color: rgb(225, 225, 225) 
} 

h1 {
    position: relative; 
}

h1::after {
    content: "h1";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

h2 {
    position: relative; 
}

h2::after {
    content: "h2";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

h3 {
    position: relative; 
} 

h3::after {
    content: "h3";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

h4 {
    position: relative;
} 

h4::after {
    content: "h4";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h5 {
    position: relative;
}

h5::after {
    content: "h5";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h6 {
    position: relative;
} 

h6::after {
    content: "h6";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.user_content p:has(> img:first-child),
#content p:has(> img:first-child),
.user_content p:has(span > img:first-child),
#content p:has(span > img:first-child) {
    position: relative;
}

.user_content p:has(> img:first-child)::after,
#content p:has(> img:first-child)::after,
.user_content p:has(span > img:first-child)::after,
#content p:has(span > img:first-child)::after {
    width: 100%;
    content: attr(alt);
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-inline: 5px;
}

.ic-app-header__menu-list-item:has(.add-error-button) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-error-button {
    display: flex;
    position: fixed;
    top: 3rem;
    left: 18rem;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    z-index: 999;
}

.add-error-button button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(153, 1, 1);
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px 4px rgba(188, 87, 87, 0.75);
    -webkit-box-shadow: 0px 0px 16px 4px rgba(188, 87, 87, 0.75);
    -moz-box-shadow: 0px 0px 16px 4px rgba(188, 87, 87, 0.75);
}

.add-error-button button .retract {
    display: none;
}

.add-error-button button img {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

/* combobox styling */
.add-error-button .input-wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    max-width: 200px;
}

.add-error-button .input-wrapper .combo {
    flex-grow: 1;
    min-width: 187px;
    position: absolute;
    left: 2.1rem;
    top: -2px;
    background: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    display: none;
}

.add-error-button .input-wrapper .combo-input {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    height: 1.7rem;
    padding-left: 1rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    border: #0d0d0d 2px solid;
    width: 100%;
    margin: 0;
}

.add-error-button .input-wrapper .combo-input[aria-expanded='true'] {
    border-radius: 7px 7px 0 0;
}

.add-error-button .input-wrapper .combo::after {
    border-bottom: 2px solid rgb(0 0 0 / 75%);
    border-right: 2px solid rgb(0 0 0 / 75%);
    content: "";
    display: block;
    width: 10px;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(0, -65%) rotate(45deg);
}

.add-error-button .input-wrapper .combo-menu {
    width: 100%;
    border: #0d0d0d solid 1px;
    position: absolute;
    z-index: 1;
    background-color: #e4e4e4;
    display: none;
    max-height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    display: none;
}

.add-error-button .open .combo-menu {
    display: block;
}

.add-error-button .combo-menu .combo-option {
    font-family: "Quicksand", sans-serif;
    padding: 12px 0 12px 1rem;
    cursor: pointer;
    font-size: 14px;
    outline: 1px solid rgb(178, 178, 178);
}

.add-error-button .combo-menu .combo-option:hover {
    background-color: #c2c2c2;
}

.add-error-button .combo-option.option-current {
    outline: 3px solid #0067b8;
    outline-offset: -3px;
}

.add-error-button .combo-option[aria-selected="true"] {
    padding-right: 30px;
    position: relative;
}

.add-error-button .combo-input:focus {
    outline: 2px solid #0d0d0d;
    outline-offset: 3px;
}

.add-error-button .combo1 .combo-menu .combo-option[aria-selected="true"]::after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    content: "";
    height: 16px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
    width: 8px;
}

.add-error-button .input-wrapper.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}