p:hover,h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover { 
    background-color: rgb(225, 225, 225) 
} 

.red {
    background-color: red
} 

.error-blank-line {
    background-color: yellow
}

h1 {
    position: relative; 
}

h1::after {
    content: "h1";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

h2 {
    position: relative; 
}

h2::after {
    content: "h2";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

h3 {
    position: relative; 
} 

h3::after {
    content: "h3";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

h4 {
    position: relative;
} 

h4::after {
    content: "h4";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h5 {
    position: relative;
}

h5::after {
    content: "h5";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h6 {
    position: relative;
} 

h6::after {
    content: "h6";
    position: absolute;
    width: 3rem;
    height: 2rem;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.img-display-alt img{
    position: relative;
}

.img-display-alt img::after {
    width: 100%;
    height: min-content;
    content: "alt: " attr(alt);
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}