/* basic / general styling */
:root {
    --color-1: #10437e;
    --color-2: #026FE6;
    --color-3: #7D8A97;
    --background-color-1: #FAFBFF;
    --background-color-2: #E5F0FF;
    --background-color-3: #1A1940;
}

button, a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 22px;
    color: var(--color-2);
    margin-top: 5px;
    margin-bottom: 12px;
}

h2 {
    font-size: 20px;
    color: var(--color-1);
    font-weight: 600;
    margin-top: 5px;
}

h3 {
    margin: 0;
    font-size: 14px;
    color: var(--color-3);
    margin-block: 5px;
}

p, button, li, a {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    letter-spacing: 1px;
    line-height: 220%;
    max-width: 100%;
    font-weight: 450;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.p1 {
    font-weight: 600;
    color: var(--color-1);
}

.p2 {
    color: var(--color-2);
    font-weight: 700;
}

.p3 {
    color: var(--color-3);
    font-weight: 450;
    font-size: 13px;
}

.btn1 {
    padding-block: 7px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    -moz-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    font-weight: 600;
    color: var(--color-1);
    margin-bottom: 10px;
    width: 100%;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, transform 400ms ease-in-out;
}

.btn1:focus, .btn1:hover {
    background-color: var(--background-color-3);
    color: white;
    transform: scale(1.01);
}

.input1 {
    background-color: var(--background-color-2);
    border-radius: 3px;
    padding-left: 5px;
    height: 32px;
    border: none;
    width: 100%;
    margin-bottom: 17px;
    font-weight: 600;
    color: var(--color-1);
    transition: transform 300ms ease-in-out, box-shadow 400ms ease-in-out;
    box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0);
    -moz-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0);
}

.input1:hover, .input1:focus {
    transform: scale(1.01);
    box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    -moz-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
}

.input1.no-nanimate:focus, .input1.no-animate:hover {
    transform: none;
    box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0);
    -moz-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0);
}

.input1:focus {
    outline: 2px solid var(--color-1);
}

.hr1 {
    border-block-color: #072675;
    opacity: 0.12;
    border-block-width: 1px;
}

.display {
    display: block !important;
}

.display-flex {
    display: flex !important;
}

.panel-padding {
    padding-inline: 10px;
}

/* header */
.header-top {
    padding-top: 7px;
    padding-bottom: 5px;
    padding-inline: 10px;
    width: 100%;
    align-items: center;
    gap: 15px;
    height: 3rem;
    position: relative;
    box-shadow: 0px 0px 12px 0px rgba(0, 82, 158, 0.21);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 82, 158, 0.21);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 82, 158, 0.21);
    margin-bottom: 20px;
}

.header-top .back, .header-top .next {
    padding: 0;
    background: none;
    border: 2px solid #0A6CFF;
    height: 2.5rem;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    display: none;
    border-radius: 25px;
    position: relative;
}

.title {
    margin: 0;
    flex-grow: 1;
    height: 100%;
}

.title h1 {
    flex-grow: 1;
    margin: 0;
    text-wrap: nowrap;
}

.header-top button .text {
    text-wrap: nowrap;
    justify-self: start;
    position: absolute;
    left: 10px;
}

.header-top button img {
    object-fit: contain;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    z-index: 1;
    padding-block: 8px;
    border-radius: 25px;
}

.header-top .back {
    transform: rotate(-90deg);
}

.header-top .next {
    justify-self: end;
    justify-content: end;
    align-items: center;
    display: flex;
    transition: width 300ms ease-in-out;
    overflow: hidden;
}

.header-top .next:hover  {
    width: 16ch;
}
.header-top .next img {
    transform: rotate(-90deg);
}

.header-top .title .icon {
    height: 2.5rem;
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    margin-right: 17px;
}

/* Course short details */
.short-details .top-content, .short-details .bottom-content {
    justify-content: start;
    align-items: center;
    position: relative;
    gap: 7px;
    margin-bottom: 17px;
}

.short-details img {
    height: 32px;
    width: 32px;
    object-fit: contain;
}

.short-details input {
    flex-grow: 1;
    margin-bottom: 0;
}

.short-details .p3 {
    padding-block: 3px;
    padding-inline: 11px;
    background-color: var(--background-color-2);
    font-weight: 600;
    font-style: italic;
    border: 1px solid #0a6cff;
    margin-block: 4px;
    border-radius: 20px;
    color: var(--color-1);
    width: max-content;
    font-size: 12px;
    display: none;
}

main:has(.page-errors-container.display) .short-details .p3 {
    display: block;
}

/* current course container */
.current-course-container p {
    text-align: center;
    margin-block: 10px;
    margin-top: 15px;
}

/* container1 / error section */
.add-error-container .btn1 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.html-window {
    height: 125px;
    font-size: 11px;
    background-color: var(--background-color-3);
    overflow-y: scroll;
    width: 100%;
    padding-block: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.html-window::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    scrollbar-width: none;
}

.html-window .wrapper {
    color: var(--background-color-2);
    line-height: 150%;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100%;
    padding-right: 5px;
}

.html-window .wrapper li {
    padding-left: 15px;
    font-family: "Cascadia Mono", sans-serif;
}

.html-window .wrapper li .innertext {
    padding-left: 15px;
}

.element-bracket {
    color: #949494;
}

.element-text {
    color: #E8E8E8;
}

.element-string {
    color: #CE723C;
}

.element-tagName {
    color: #569CD6;
}

.element-attribute {
    color: #9CDCFE;
}

.container {
    display: none;
}

.combo {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-1);
    font-weight: 500;
    font-size: 16px;
}

.combo-option {
    padding-block: 6px;
    border-bottom: 1px solid #07267512;
    cursor: pointer;
}

.combo-option:hover {
    border: 2px solid #0a6cff;
    background-color: #ec6d28c5;
}

.combo .combo-option:nth-child(even) {
    background-color: #f7fbff;
}

.combo-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border: 2px solid #0a6cff;
    display: none;
    width: 100%;
    background-color: white;
    max-height: 300px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 2;
}

.combo-input[aria-expanded="true"] {
    margin-bottom: 0;
}

.combo-input[aria-expanded="true"] + .combo-menu {
    display: block;
}

/* course description 1 */
.course-description1 .desc {
    padding-inline: 35px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.course-description1 .square {
    text-align: center;
}

.course-description1 .number {
    font-size: 24px;
    color: var(--color-2);
    font-weight: 700;
}

.course-description1 .square .p1 {
    line-height: 150%;
}

/* module pages / course modules */
.course-modules .accordion {
    margin-top: 20px;
}

.course-modules .accordion .head:nth-child(0) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.course-modules .accordion .head:nth-child(n) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.course-modules {
    width: 100%;
}

.course-modules .head {
    background-color: var(--background-color-2);
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #0a6cff;
}

.course-modules .head:has(button[aria-expanded="true"]) {
    border-bottom: none;
}

.course-modules .head button {
    border: none;
    background: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.course-modules .head button[aria-expanded="true"] .img-wrapper {
    transform: rotate(180deg);
}

.course-modules .head .top-row {
    margin-bottom: 6px;
    text-align: start;
    font-size: 15px;
}

.course-modules .head .bottom-row {
    gap: 10px;
    justify-content: start;
}

.course-modules .head .bottom-row .tag {
    padding-inline: 1rem;
    padding-block: 2px;
    border-radius: 20px;
    border: 1px solid #0a6cff;
    font-size: 12px;
    color: var(--color-1);
}

.course-modules .img-wrapper {
    height: 1.3rem;
    width: 1.3rem;
    aspect-ratio: 1 / 1;
}

.course-modules .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.course-modules .pages {
    padding-inline: 7px;
    border: 2px solid #0a6cff;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.course-modules .pages[hidden] {
  display: none;
}

.course-modules .pages li:nth-child(even) {
    background-color: #f7fbff;
}

.course-modules .pages li .top-row {
    width: 31ch;
    overflow: hidden;
    position: relative;
    padding-top: 7px;
}

.course-modules .pages li .top-row span {
    color: var(--background-color-3);
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 1px;
}

.elipses::after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
}

.course-modules .pages li .bottom-row span {
    margin-top: 4px;
    color: #10437e;
}

.course-modules .pages li hr {
    margin-bottom: 0;
}

/* error list container */
.page-errors-container {
    margin-bottom: 20px;
}

.page-errors-container .error-type {
    width: 100%;
}

.page-errors-container .head {
    width: 100%;
    background-color: var(--background-color-2);
}

.page-errors-container button {
    border: none;
    background: none;
    align-items: center;
    padding: 7px;
    padding-block: 10px;
    width: 100%;
}

.page-errors-container button span {
    display: inline-block;
}

.page-errors-container .errors {
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
}

.page-errors-container .p1 {
    margin-right: 8px;
}

.page-errors-container li:nth-child(1) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.page-errors-container .region .p1 {
    font-size: 13px;
}

.page-errors-container .p3 {
    text-align: start;
    flex-grow: 1;
}


.page-errors-container .img-wrapper {
    height: 1.1rem;
    width: 1.1rem;
    aspect-ratio: 1 / 1;
    justify-self: end;
}

.page-errors-container .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.page-errors-container hr {
    margin: 0;
}

.page-errors-container .region {
    width: 100%;
    border: 2px solid #0a6cff;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.page-errors-container .region li {
    width: 100%;
    padding: 7px;
    overflow: hidden;
    border-bottom: 2px solid #0a6cff47;
}

.page-errors-container .region li button {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.page-errors-container .region li:nth-last-child(1) {
    border-bottom: none;
}

.page-errors-container .region li:nth-child(even) {
    background-color: #f7fbff;
}

.page-errors-container .region .match {
    flex-grow: 1;
    text-align: start;
    font-weight: 500;
}

.page-errors-container .region .img-wrapper {
    justify-self: end;
    height: 1.5rem;
    width: 1.5rem;
    padding: 3px;
    aspect-ratio: 1 / 1;
    justify-self: end;
    display: inline-block;
    background-color: white;
    box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    -moz-box-shadow: 0px 0px 12px 0px rgba(1, 45, 86, 0.43);
    border-radius: 3px;
    position: relative;
    left: 45px;
    transition: left 200ms ease-in-out;
}

.page-errors-container .region li:hover .img-wrapper {
    left: 0px;
}


.page-errors-container .region .img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* additional buttons */
.additional-buttons {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.additional-buttons button {
    aspect-ratio: 1 / 1;
    border: none;
    background: none;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #1685c134;
    box-shadow: 0px 0px 12px rgba(0, 82, 158, 0.43);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 82, 158, 0.43);
    -moz-box-shadow: 0px 0px 12px rgba(0, 82, 158, 0.43);
    background-color: white;
    transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.additional-buttons button:hover {
    border: 1px solid #1685c1;
    background-color: var(--background-color-2);
}

.additional-buttons button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}